
body{
    display: flex;
    flex-direction: column;
    background-color:aqua
}
.carousel-img{
  width: 100vh;
  height: 60vh;
  background-position: 80% 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-title{
    margin: 20px;
    padding: 10px;
}
.form-coments{
    height: 80vh;
    margin-top: 100px;
    width: 200px;
}
.card-contenedor{
    height: 80vh;
    margin-top: 100px;
    margin-bottom: 100px;

}

